{% extends 'base.html' %}
{% block content %}
    
    {% if user.is_authenticated %}
        {{ user.nickname }}님 환영합니다.<br/>
        <a href="{% url 'profile' user.nickname %}">{{ user.nickname }}의 프로필</a>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
    {% endif %}
    <!-- <div id="text">

    </div>
    <button onclick="sendRequest()">clcik</button>
    <script>
        function sendRequest(){
            var httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = function(){
                if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){
                    document.getElementById('text').innerHTML = httpRequest.responseText;
                }
            }
            httpRequest.open("GET", "/account/login", true);
            httpRequest.send();
        }
    </script> -->
{% endblock %}